.places__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 26px;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}