.header__lang-link {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity .3s;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}