.header__lang {
    margin: 0;
    width: 30px;
    height: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
}

.header__lang:last-child {
    margin-right: 0;
}