.header {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .header {
        max-height: 58px;
    }
}