.footer__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    margin-right: 18px;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
    transition: opacity .3s;
}

.footer__link:last-child {
    margin-right: 0;
}