.cover__text {
    width: 560px;
    margin-top: calc(-31.25% - 250px / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__text {
        width: 288px;
        margin-top: calc(-31.25% - 134px / 2);
    }
}