.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .footer {
        display: block;
    }
}